{% load static %}
<!DOCTYPE html>
<html>
<head>
     <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'css/small-business.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href= "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title></title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
    
     
    
     
     



<script>


function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
} 
function validatephone(phone) 
{
    var maintainplus = '';
    var numval = phone.value
    if ( numval.charAt(0)=='+' )
    {
        var maintainplus = '';
    }
    curphonevar = numval.replace(/[\\A-Za-z!"£$%^&\,*+_={};:'@#~,.Š\/<>?|`¬\]\[]/g,'');
    phone.value = maintainplus + curphonevar;
    var maintainplus = '';
    phone.focus;
}
// validates text only
function Validate(txt) {
    txt.value = txt.value.replace(/[^a-zA-Z-'\n\r.]+/g, '');
}
// validate email
function email_validate(email)
{
var regMail = /^([_a-zA-Z0-9-]+)(\.[_a-zA-Z0-9-]+)*@([a-zA-Z0-9-]+\.)+([a-zA-Z]{2,3})$/;

    if(regMail.test(email) == false)
    {
    document.getElementById("status").innerHTML    = "<span class='warning'>Email address is not valid yet.</span>";
    }
    else
    {
    document.getElementById("status").innerHTML = "<span class='valid'>Thanks, you have entered a valid Email address!</span>"; 
    }
}


</script>   
</head>
<body style = "background: rgb(9,71,241);
background: linear-gradient(54deg, rgba(9,71,241,1) 31%, rgba(8,174,244,1) 71%);">
<style>
  #lab_social_icon_footer {
  padding: 40px 0;
  background-color: #dedede;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Open Sans', sans-serif;
  background:#F6F6F6;
  background-image:url('http://www.arrayform.com/wp-content/uploads/2017/02/back.jpeg');
  background-attachment: fixed;
    background-position: center;
    background-size: cover;
  margin:0;
  padding:0%;
}




/*----//footer-----*/


fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 80%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
nav .navbar-nav li a{
  color: black ;
  }
 
</style>


<header>
 
<nav class="navbar  navbar-expand-lg navbar-white bg-white fixed-top ">
    <div class="container-fluid">
    <a class="navbar-brand" href="" style ="color:black;">
        <img src="{% static 'saravanalogo.jpg' %}"  width="100" height="66"  alt="" >Saravana Engineers
    </a>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class=" navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link " href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          

        </ul>
      </div>
    </div>
  </nav>
 </header>
 <br>
 <br>
 <br>
   <div class="container my-4">    
    <h1 class="text" style = "text-transform: uppercase;
  background: linear-gradient(to right, #ffffff 46%, #ffffff 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
  font-family: 'Poppins', sans-serif;">Contact Us</h1>

  </div>

  

<center><h1 class="text-center">{{s}}</h1></center>



<div class="container">
      <div class="row">
        <div class="col-lg-6">
            <form action= "/ffsm" method="post"  enctype = "multipart/form-data" id="fileForm" role="form">
                {% csrf_token %}
            <br>
            <br>    
            <fieldset><legend class="text-center"><span class="req"></span></legend>


            <div class="form-group">     
                <label for="D.O.B"><span class="req">* </span> First name: </label>
                    <input class="form-control" type = "date" name="bshd" required pattern="(?:19|20)\[0-9\]{2}-(?:(?:0\[1-9\]|1\[0-2\])/(?:0\[1-9\]|1\[0-9\]|2\[0-9\])|(?:(?!02)(?:0\[1-9\]|1\[0-2\])/(?:30))|(?:(?:0\[13578\]|1\[02\])-31))"  placeholder="YYYY-MM-DD"  title="Enter a date in this format YYYY/MM/DD"/>> 
                        <div id="errFirst"></div>    
            </div>

            <div class="form-group">     
                <label for="firstname"><span class="req">* </span> First name: </label>
                    <input class="form-control" type="text" name="firstname" id = "txt" onkeyup = "Validate(this)" required /> 
                        <div id="errFirst"></div>    
            </div>

            
            
            
            

            
            
        

            <div class="form-group">
                <label for="username"><span class="req">* </span> Company name :  <small></small> </label> 
                    <input class="form-control" type="file" name="username" id = "txt" onkeyup = "Validate(this)" placeholder="minimum 6 letters" required />  
                        <div id="errLast"></div>
            </div>


            <div class="form-group">    
                <label for="descri"><span class="req">* </span> description: </label>
                    <textarea name="descri"></textarea>
                        <div id="errFirst"></div>   
                        <br>
                        <br>
                        <br> 

                        <div class="form-group">
                <input class="btn btn-success" type="submit" name="submit_reg" value="Register">
            
            </div>
            </div>
            
            </div>
          </div>
        </div>
            </fieldset>
            </form>


            <br>
            <br>
            <br>



            
 <footer class="py-5 " style = "background-color:black;">

  <div style= "background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="m-0 text-white" >Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right" style = "background-color: black;">

          <!-- Facebook -->
          <section id="lab_social_icon_footer" style = "background-color: black;">
<!-- Include Font Awesome Stylesheet in Header -->

<div class="container">
        <div class="text-center " style = "background-color:;">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
<div class="container text-center text-md-left mt-5" style = "background-color:black;" >

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="m-0"  style = "color:rgb(9,71,241);linear-gradient(54deg, rgba(9,71,241,1) 31%, rgba(8,174,244,1) 71%);">Saravana Engineers</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="m-0  text-white">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="m-0"style = "color:rgb(9,71,241);linear-gradient(54deg, rgba(9,71,241,1) 31%, rgba(8,174,244,1) 71%);">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!" style ="color:white;">MDBootstrap</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">MDWordPress</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">BrandFlow</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="m-0" style = "color:rgb(9,71,241);linear-gradient(54deg, rgba(9,71,241,1) 31%, rgba(8,174,244,1) 71%);">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!" style ="color:white;">Your Account</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">Shipping Rates</a>
        </p>
        <p>
          <a href="#!" style ="color:white;">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="m-0" style = "color:rgb(9,71,241);linear-gradient(54deg, rgba(9,71,241,1) 31%, rgba(8,174,244,1) 71%);">Contact</h6>
        
        <br>

       
        <p class="m-0  text-white">
        34,abirami garden,chinnathirupathi post,Salem-636008
           </p>        
        <p class="m-0  text-white">
          +91 9443616015</p>

        <p class="m-0  text-white">+91 9364167811</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
    </div>
  </div>

  <!-- Footer Links -->
  
  <!-- Footer Links -->

  <!-- Copyright -->
  
  <!-- Copyright -->

</footer>

  
        
             
           


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>